<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags, stylesheets, etc. -->
</head>
<body>
  <!-- Navigation Menu -->
  <nav>
    <ul>
      {% for item in site.data.navigation.main %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Page Content -->
  <div class="page-content">
    {{ content }}
  </div>

  <!-- Author Info -->
  <div class="author-info">
    <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}">
    <h2>{{ site.author.name }}</h2>
    <p>{{ site.author.bio }}</p>
    <ul>
      {% for link in site.author.links %}
        <li><a href="{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.label }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- Footer, scripts, etc. -->
</body>
</html>
